In [21]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [13]:
random_state=42

In [ ]:
org_student_data =pd.read_csv('../data/data_split_0/student_train_data.csv')
org_prof_data =pd.read_csv('../data/data_split_0/prof_train_data.csv')

In [7]:
org_student_data.columns.to_list()

['id',
 'Name',
 'Gender',
 'Age',
 'City',
 'Academic Pressure',
 'Study Satisfaction',
 'Sleep Duration',
 'Dietary Habits',
 'Degree',
 'Have you ever had suicidal thoughts ?',
 'Work/Study Hours',
 'Financial Stress',
 'Family History of Mental Illness',
 'Depression']

In [30]:
org_student_data.isnull().mean() * 100

id                                       0.000000
Name                                     0.000000
Gender                                   0.000000
Age                                      0.000000
City                                     0.000000
Academic Pressure                        0.032257
Study Satisfaction                       0.035841
Sleep Duration                           0.000000
Dietary Habits                           0.007168
Degree                                   0.000000
Have you ever had suicidal thoughts ?    0.000000
Work/Study Hours                         0.000000
Financial Stress                         0.010752
Family History of Mental Illness         0.000000
Depression                               0.000000
dtype: float64

In [15]:
imputer = SimpleImputer(strategy='mean')

In [53]:
temp = imputer.fit_transform(org_student_data[['Academic Pressure']])

In [50]:
sum(pd.isnull(org_student_data['Academic Pressure']))

9

Look at IterativeImputer

In [54]:
def fill_in_missing_values(df,numerical_cols,categorical_cols):
    imputer = SimpleImputer(missing_values=np.nan,strategy='median',add_indicator=True)

    for col in numerical_cols:
        if sum(pd.isnull(df[col])) > 0:
            df[col] = imputer.fit_transform(df[[col]])
    
    return df

In [ ]:
numeric_cols = org_student_data.columns.to_list()
numeric_cols.remove('id')
numeric_cols.remove('Name')
numeric_cols.remove('Gender')
numeric_cols.remove('City')
numeric_cols.remove('Sleep Duration')
numeric_cols.remove('Dietary Habits')
numeric_cols.remove('Degree')
numeric_cols.remove('Family History of Mental Illness')
numeric_cols.remove('Have you ever had suicidal thoughts ?')
numeric_cols.remove('Depression')

In [65]:
temp = fill_in_missing_values(org_student_data,numeric_cols,categorical_cols=['name'])

In [67]:
temp[temp.isnull().any(axis=1)]

,id,Name,Gender,Age,City,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
11746,59350,Tanmay,Male,34.0,Agra,5.0,1.0,More than 8 hours,NaN,B.Tech,Yes,4.0,5.0,Yes,1
12763,64565,Anvi,Female,23.0,Bangalore,2.0,5.0,5-6 hours,NaN,M.Pharm,No,6.0,3.0,No,1

In [66]:
temp

,id,Name,Gender,Age,City,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Yuvraj,Male,33.0,Visakhapatnam,5.0,2.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Aishwarya,Female,24.0,Bangalore,2.0,5.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Aditya,Male,31.0,Srinagar,3.0,5.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Prisha,Female,28.0,Varanasi,3.0,2.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Chhavi,Female,25.0,Jaipur,4.0,3.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Aaradhya,Female,27.0,Surat,5.0,5.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Rohan,Male,27.0,Ludhiana,2.0,3.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Ayaan,Male,31.0,Faridabad,3.0,4.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Rashi,Female,18.0,Ludhiana,5.0,2.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Sai,Male,27.0,Patna,4.0,1.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1