In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

from test_prof_preprocess import TestPreprocess

In [2]:
test_student_data =pd.read_csv('../../data/data_split_0/student_test_data.csv')

In [3]:
cols_to_drop=['Name']

imputer = SimpleImputer(missing_values=np.nan,strategy='median')


student_preprocessor = TestPreprocess(df=test_student_data,
                                             cols_to_drop=cols_to_drop,
                                             imputer=imputer,
                                             cat_encoding_type="frequency",
                                             is_student=True)

In [4]:
student_preprocessor.preprocess()

In [5]:
student_clean_df=student_preprocessor.df

In [6]:
student_clean_df[student_clean_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, Name, Gender, Age, City, Academic Pressure, Study Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness]
Index: []

In [7]:
student_clean_df

,id,Name,Gender,Age,City,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140703,0.002450,0.444119,23.0,0.031643,5.0,1.0,0.219582,0.350682,0.030684,0.627797,10.0,4.0,0.515235
1,140708,0.002770,0.444119,21.0,0.038035,1.0,3.0,0.297944,0.280844,0.025623,0.372203,8.0,1.0,0.484765
2,140719,0.009269,0.555881,28.0,0.040805,5.0,3.0,0.259642,0.350682,0.021415,0.372203,11.0,3.0,0.484765
3,140720,0.010761,0.444119,26.0,0.027807,3.0,5.0,0.219582,0.350682,0.025623,0.627797,10.0,4.0,0.484765
4,140721,0.004848,0.555881,32.0,0.036970,3.0,1.0,0.297944,0.350682,0.028660,0.627797,11.0,5.0,0.515235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18767,234485,0.003463,0.555881,33.0,0.040433,5.0,2.0,0.259642,0.350682,0.055135,0.627797,12.0,5.0,0.484765
18768,234490,0.012945,0.555881,19.0,0.022906,4.0,3.0,0.259642,0.368155,0.214895,0.372203,2.0,2.0,0.484765
18769,234493,0.000053,0.444119,29.0,0.025304,2.0,5.0,0.219582,0.280844,0.214895,0.627797,8.0,2.0,0.484765
18770,234494,0.004528,0.555881,33.0,0.022906,1.0,2.0,0.219582,0.280844,0.021042,0.627797,9.0,2.0,0.515235
18771,234497,0.005647,0.555881,24.0,0.036970,1.0,4.0,0.259642,0.350682,0.039527,0.372203,7.0,1.0,0.515235

In [8]:
student_clean_df.to_csv('../../data/clean_data_0/student_test_data.csv',index=False)

In [9]:
test_prof_data =pd.read_csv('../../data/data_split_0/prof_test_data.csv')

In [10]:
cols_to_drop=['Name']

imputer = SimpleImputer(missing_values=np.nan,strategy='median')


prof_preprocessor = TestPreprocess(df=test_prof_data,
                                             cols_to_drop=cols_to_drop,
                                             imputer=imputer,
                                             cat_encoding_type="frequency",
                                             is_student=False)

In [11]:
prof_preprocessor.preprocess()
prof_clean_df=prof_preprocessor.df

In [12]:
prof_clean_df[prof_clean_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, Name, Gender, Age, City, Profession, Work Pressure, Job Satisfaction, Sleep Duration, Dietary Habits, Degree, Have you ever had suicidal thoughts ?, Work/Study Hours, Financial Stress, Family History of Mental Illness]
Index: []

In [13]:
prof_clean_df

,id,Name,Gender,Age,City,Profession,Work Pressure,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness
0,140700,0.007331,0.544157,53.0,0.036280,0.015834,2.0,5.0,0.267767,0.352362,0.032681,0.538306,9.0,3.0,0.500906
1,140701,0.010063,0.455843,58.0,0.039532,0.024351,2.0,4.0,0.267767,0.352362,0.086848,0.538306,6.0,4.0,0.499094
2,140702,0.003199,0.544157,53.0,0.029242,0.296783,4.0,1.0,0.261489,0.352362,0.065989,0.461694,12.0,4.0,0.499094
3,140704,0.006371,0.544157,47.0,0.044104,0.296783,5.0,5.0,0.261489,0.352362,0.038212,0.461694,3.0,4.0,0.499094
4,140705,0.002146,0.544157,29.0,0.036373,0.018953,2.0,3.0,0.240910,0.352362,0.058698,0.538306,3.0,2.0,0.500906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75023,234492,0.007557,0.544157,23.0,0.026590,0.038919,2.0,3.0,0.267767,0.352362,0.058698,0.461694,12.0,4.0,0.499094
75024,234495,0.001653,0.455843,49.0,0.029242,0.019299,3.0,5.0,0.267767,0.352362,0.036493,0.461694,2.0,2.0,0.500906
75025,234496,0.004332,0.544157,29.0,0.040358,0.019299,5.0,1.0,0.261489,0.352362,0.022818,0.461694,11.0,3.0,0.500906
75026,234498,0.005758,0.455843,23.0,0.044104,0.017114,4.0,2.0,0.229688,0.329157,0.027923,0.461694,7.0,5.0,0.500906
75027,234499,0.006571,0.455843,43.0,0.035120,0.024351,5.0,2.0,0.240910,0.329157,0.086848,0.538306,11.0,2.0,0.499094

In [14]:
prof_clean_df.to_csv('../../data/clean_data_0/prof_test_data.csv',index=False)