In [27]:
import pandas as pd
import numpy as np

In [8]:
org_prof_data.head()

,Gender,Age,City,Profession,Work Pressure,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Female,49.0,Ludhiana,Chef,5.0,2.0,More than 8 hours,Healthy,BHM,No,1.0,2.0,No,0
1,Male,26.0,Varanasi,Teacher,4.0,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7.0,3.0,No,1
2,Male,22.0,Mumbai,Teacher,5.0,1.0,Less than 5 hours,Moderate,BBA,Yes,10.0,1.0,Yes,1
3,Female,30.0,Kanpur,Business Analyst,1.0,1.0,5-6 hours,Unhealthy,BBA,Yes,9.0,4.0,Yes,0
4,Female,59.0,Ahmedabad,Finanancial Analyst,2.0,5.0,5-6 hours,Healthy,MCA,No,7.0,5.0,No,0

In [6]:
org_prof_data.columns

Index(['id', 'Name', 'Gender', 'Age', 'City', 'Profession', 'Work Pressure',
       'Job Satisfaction', 'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [7]:
cols_to_drop=['id','Name']
for col in cols_to_drop:
    org_prof_data.drop(columns=col,inplace=True)

In [9]:
org_prof_data['Gender'].value_counts()

Gender
Male      61917
Female    50882
Name: count, dtype: int64

In [10]:
org_prof_data['Age'].value_counts()

Age
56.0    5245
49.0    5098
38.0    4556
53.0    4526
57.0    4395
47.0    4199
46.0    4078
54.0    3927
51.0    3926
43.0    3854
59.0    3780
48.0    3692
45.0    3535
50.0    3439
42.0    3389
39.0    3259
44.0    3216
41.0    3139
40.0    3094
58.0    2931
55.0    2846
35.0    2824
37.0    2722
36.0    2696
52.0    2589
60.0    2501
18.0    2334
20.0    1278
23.0    1255
33.0    1247
28.0    1205
27.0    1151
25.0    1147
29.0    1147
31.0    1133
34.0    1110
24.0    1097
19.0    1074
21.0    1016
26.0     953
22.0     906
30.0     767
32.0     523
Name: count, dtype: int64

In [13]:
org_prof_data['City'].value_counts()

City
Kalyan           5021
Patna            4917
Meerut           4703
Ahmedabad        4662
Kolkata          4623
Vasai-Virar      4475
Rajkot           4391
Mumbai           4267
Pune             4242
Indore           4229
Visakhapatnam    4207
Ludhiana         4115
Varanasi         3921
Vadodara         3874
Kanpur           3789
Srinagar         3702
Agra             3590
Surat            3558
Nagpur           3558
Bangalore        3356
Jaipur           3292
Chennai          3159
Hyderabad        3156
Thane            3150
Lucknow          3125
Ghaziabad        2875
Delhi            2825
Faridabad        2807
Nashik           2597
Bhopal           2541
Mihir               6
Mahi                3
Vidya               3
Pratyush            3
Nandini             3
Keshav              2
Ayush               2
Atharv              2
Molkata             2
MCA                 2
Aishwarya           1
Kagan               1
Chhavi              1
Parth               1
Ishanabad           1
Tushar              1
MSc                 1
No                  1
Researcher          1
Armaan              1
Kashish             1
Ithal               1
Dhruv               1
Galesabad           1
Itheg               1
Saanvi              1
Aaradhya            1
Pooja               1
Khushi              1
Jhanvi              1
Vaishnavi           1
Shrey               1
Bhavna              1
Ivaan               1
Harsha              1
Nalini              1
Aditya              1
Malyansh            1
Raghavendra         1
Krishna             1
M.Com               1
Plata               1
Gurgaon             1
Moreadhyay          1
Morena              1
Ishkarsh            1
Kashk               1
City                1
Vidhi               1
Tolkata             1
Anvi                1
Krinda              1
Ayansh              1
Unirar              1
Name: count, dtype: int64

In [14]:
org_prof_data['Profession'].value_counts()

Profession
Teacher                   24900
Content Writer             7812
Architect                  4362
Consultant                 4229
HR Manager                 4022
Pharmacist                 3891
Doctor                     3253
Business Analyst           3161
Chemist                    2967
Entrepreneur               2967
Chef                       2860
Educational Consultant     2851
Data Scientist             2390
Researcher                 2328
Lawyer                     2211
Customer Support           2055
Marketing Manager          1976
Pilot                      1913
Travel Consultant          1860
Plumber                    1748
Sales Executive            1739
Manager                    1736
Judge                      1712
Electrician                1582
Financial Analyst          1574
Software Engineer          1510
Civil Engineer             1469
UX/UI Designer             1451
Digital Marketer           1369
Accountant                 1339
Finanancial Analyst        1329
Mechanical Engineer        1177
Graphic Designer           1163
Research Analyst            690
Investment Banker           393
Academic                      5
Student                       4
Profession                    3
Yogesh                        3
BCA                           3
Unemployed                    3
LLM                           2
PhD                           2
MBA                           2
Dev                           1
BE                            1
Family Consultant             1
Visakhapatnam                 1
Pranav                        1
Analyst                       1
M.Ed                          1
Moderate                      1
Nagpur                        1
B.Ed                          1
Unveil                        1
Patna                         1
MBBS                          1
Working Professional          1
Medical Doctor                1
BBA                           1
City Manager                  1
FamilyVirar                   1
B.Com                         1
Yuvraj                        1
Name: count, dtype: int64

In [15]:
org_prof_data.loc[org_prof_data['Profession'] == 'Medical Doctor','Profession'] = 'Doctor'

In [16]:
org_prof_data['Work Pressure'].value_counts()

Work Pressure
2.0    24372
4.0    22512
5.0    22434
3.0    21899
1.0    21562
Name: count, dtype: int64

In [17]:
org_prof_data['Job Satisfaction'].value_counts()

Job Satisfaction
2.0    24780
5.0    22812
1.0    22322
3.0    21950
4.0    20918
Name: count, dtype: int64

In [18]:
org_prof_data['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    30474
7-8 hours            29623
More than 8 hours    26682
5-6 hours            25959
3-4 hours               10
4-5 hours                6
4-6 hours                5
No                       4
6-8 hours                4
6-7 hours                4
1-6 hours                4
2-3 hours                3
Unhealthy                2
9-11 hours               2
8-9 hours                2
Sleep_Duration           2
Pune                     1
9-5                      1
45-48 hours              1
3-6 hours                1
Work_Study_Hours         1
1-3 hours                1
49 hours                 1
10-6 hours               1
35-36 hours              1
45                       1
Indore                   1
9-6 hours                1
9-5 hours                1
Name: count, dtype: int64

In [24]:
org_prof_data.loc[org_prof_data['Sleep Duration'] == '2-3 hours','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '3-4 hours','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '1-2 hours','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '4-5 hours','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '4-6 hours','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '1-6 hours','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '2-3 hours','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == 'Unhealthy','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '3-6 hours','Sleep Duration'] = 'Less than 5 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '1-3 hours','Sleep Duration'] = 'Less than 5 hours'


org_prof_data.loc[org_prof_data['Sleep Duration'] == '6-8 hours','Sleep Duration'] = '7-8 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '10-6 hours','Sleep Duration'] = '7-8 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '9-6 hours','Sleep Duration'] = '7-8 hours'


org_prof_data.loc[org_prof_data['Sleep Duration'] == '6-7 hours','Sleep Duration'] = '5-6 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '9-5 hours','Sleep Duration'] = '5-6 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '9-5 hours','Sleep Duration'] = '5-6 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '9-5','Sleep Duration'] = '5-6 hours'



org_prof_data.loc[org_prof_data['Sleep Duration'] == '9-11 hours','Sleep Duration'] = 'More than 8 hours'
org_prof_data.loc[org_prof_data['Sleep Duration'] == '8-9 hours','Sleep Duration'] = 'More than 8 hours'



invalid_values = ['No','Sleep_Duration','Pune','45-48 hours','Work_Study_Hours','49 hours','35-36 hours','45','Indore']
org_prof_data = org_prof_data[~org_prof_data['Sleep Duration'].isin(invalid_values)]

In [25]:
org_prof_data['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    30506
7-8 hours            29629
More than 8 hours    26686
5-6 hours            25965
Name: count, dtype: int64

In [26]:
org_prof_data['Dietary Habits'].value_counts()

Dietary Habits
Moderate        39779
Healthy         37086
Unhealthy       35906
More Healthy        2
No                  2
Yes                 1
Pratham             1
BSc                 1
Gender              1
Hormonal            1
Electrician         1
Vegas               1
Indoor              1
Class 12            1
Name: count, dtype: int64

In [28]:
org_prof_data.loc[org_prof_data['Dietary Habits'] == 'More Healthy','Dietary Habits'] = 'Healthy'

invalid_values = ['No','Yes','Pratham','BSc','Gender','Hormonal','Electrician','Vegas','Indoor','Class 12']
org_prof_data = org_prof_data[~org_prof_data['Dietary Habits'].isin(invalid_values)]

In [29]:
org_prof_data['Dietary Habits'].value_counts()

Dietary Habits
Moderate     39779
Healthy      37088
Unhealthy    35906
Name: count, dtype: int64

In [30]:
org_prof_data['Degree'].value_counts()

Degree
B.Ed                    9824
Class 12                8648
B.Arch                  7264
B.Com                   6607
B.Pharm                 5044
M.Ed                    4847
BBA                     4334
BCA                     4304
MCA                     4187
LLM                     4164
BSc                     4136
M.Pharm                 3955
MSc                     3688
LLB                     3674
M.Tech                  3453
ME                      3447
BHM                     3380
B.Tech                  3273
MBA                     3255
BA                      3149
MHM                     3095
MD                      2809
PhD                     2580
BE                      2491
MBBS                    2384
M.Com                   2359
MA                      2343
M.Arch                     5
UX/UI Designer             4
Kalyan                     3
MEd                        2
M                          2
LLBA                       2
Degree                     2
Nalini                     2
BEd                        2
B.Sc                       2
BPharm                     1
LL B.Ed                    1
Pihu                       1
BB                         1
Jhanvi                     1
LLTech                     1
Aarav                      1
Entrepreneur               1
Lata                       1
S.Arch                     1
HCA                        1
5.88                       1
M.S                        1
Navya                      1
Mahika                     1
Mihir                      1
ACA                        1
K.Ed                       1
B.3.79                     1
RCA                        1
Working Professional       1
LLS                        1
Doctor                     1
N.Pharm                    1
B B.Com                    1
M_Tech                     1
Vrinda                     1
B.B.Arch                   1
P.Com                      1
Veda                       1
H_Pharm                    1
Business Analyst           1
LL.Com                     1
Data Scientist             1
MPharm                     1
L.Ed                       1
P.Pharm                    1
HR Manager                 1
S.Pharm                    1
M. Business Analyst        1
Bhavesh                    1
LLCom                      1
29                         1
MTech                      1
Plumber                    1
5.61                       1
B.03                       1
Ritik                      1
5.56                       1
B BA                       1
BArch                      1
Bhopal                     1
Advait                     1
Name: count, dtype: int64

In [31]:
org_prof_data.loc[org_prof_data['Degree'] == 'Doctor','Degree'] = 'MD'

invalid_values = ['M','BB','B.3.79','5.88','29','5.61','B.03','5.56']
org_prof_data = org_prof_data[~org_prof_data['Degree'].isin(invalid_values)]

In [32]:
org_prof_data['Degree'].value_counts()

Degree
B.Ed                    9824
Class 12                8648
B.Arch                  7264
B.Com                   6607
B.Pharm                 5044
M.Ed                    4847
BBA                     4334
BCA                     4304
MCA                     4187
LLM                     4164
BSc                     4136
M.Pharm                 3955
MSc                     3688
LLB                     3674
M.Tech                  3453
ME                      3447
BHM                     3380
B.Tech                  3273
MBA                     3255
BA                      3149
MHM                     3095
MD                      2810
PhD                     2580
BE                      2491
MBBS                    2384
M.Com                   2359
MA                      2343
M.Arch                     5
UX/UI Designer             4
Kalyan                     3
B.Sc                       2
MEd                        2
LLBA                       2
BEd                        2
Degree                     2
Nalini                     2
BPharm                     1
LL B.Ed                    1
Pihu                       1
Jhanvi                     1
LLTech                     1
Aarav                      1
Entrepreneur               1
Lata                       1
S.Arch                     1
HCA                        1
M.S                        1
RCA                        1
Navya                      1
ACA                        1
Mahika                     1
K.Ed                       1
Mihir                      1
Working Professional       1
LLS                        1
N.Pharm                    1
B B.Com                    1
M_Tech                     1
P.Pharm                    1
B.B.Arch                   1
P.Com                      1
Veda                       1
H_Pharm                    1
Business Analyst           1
LL.Com                     1
Data Scientist             1
MPharm                     1
L.Ed                       1
HR Manager                 1
S.Pharm                    1
Vrinda                     1
M. Business Analyst        1
Bhavesh                    1
LLCom                      1
MTech                      1
Plumber                    1
Ritik                      1
B BA                       1
BArch                      1
Bhopal                     1
Advait                     1
Name: count, dtype: int64

In [33]:
org_prof_data['Have you ever had suicidal thoughts ?'].value_counts()

Have you ever had suicidal thoughts ?
No     60874
Yes    51892
Name: count, dtype: int64

In [34]:
org_prof_data['Work/Study Hours'].value_counts()

Work/Study Hours
9.0     10681
0.0     10365
10.0     9964
11.0     9935
2.0      9003
1.0      8649
12.0     8236
6.0      8180
5.0      8037
3.0      8001
7.0      7870
4.0      7450
8.0      6395
Name: count, dtype: int64

In [35]:
org_prof_data['Financial Stress'].value_counts()

Financial Stress
2.0    26385
1.0    22081
4.0    21984
5.0    21556
3.0    20759
Name: count, dtype: int64

In [36]:
org_prof_data['Family History of Mental Illness'].value_counts()

Family History of Mental Illness
Yes    56423
No     56343
Name: count, dtype: int64