In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

random_state=42

Student Data

In [2]:
org_student_data =pd.read_csv('../../data/data_split_0/student_train_data.csv')

In [3]:
cols_to_drop=['id','Name']

In [4]:
for col in cols_to_drop:
    org_student_data.drop(columns=col,inplace=True)

In [5]:
org_student_data.head()

,Gender,Age,City,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,33.0,Visakhapatnam,5.0,2.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,Female,24.0,Bangalore,2.0,5.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,Male,31.0,Srinagar,3.0,5.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,Female,28.0,Varanasi,3.0,2.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,Female,25.0,Jaipur,4.0,3.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

General Data cleaning

In [6]:
org_student_data['Gender'].value_counts()

Gender
Male      15547
Female    12354
Name: count, dtype: int64

In [7]:
org_student_data['Age'].value_counts()

Age
24.0    2258
20.0    2237
28.0    2133
29.0    1950
33.0    1893
25.0    1784
21.0    1726
23.0    1645
18.0    1587
19.0    1560
34.0    1468
27.0    1462
31.0    1427
32.0    1262
22.0    1160
26.0    1155
30.0    1145
35.0      10
38.0       8
36.0       7
42.0       4
48.0       3
39.0       3
43.0       2
46.0       2
37.0       2
49.0       1
51.0       1
44.0       1
59.0       1
54.0       1
58.0       1
56.0       1
41.0       1
Name: count, dtype: int64

In [8]:
org_student_data['City'].value_counts()

City
Kalyan                1570
Srinagar              1372
Hyderabad             1340
Vasai-Virar           1290
Lucknow               1155
Thane                 1139
Ludhiana              1111
Agra                  1094
Surat                 1078
Kolkata               1066
Jaipur                1036
Patna                 1007
Visakhapatnam          969
Pune                   968
Ahmedabad              951
Bhopal                 934
Chennai                885
Meerut                 825
Rajkot                 816
Delhi                  768
Bangalore              767
Ghaziabad              745
Mumbai                 699
Vadodara               694
Varanasi               685
Nagpur                 651
Indore                 643
Kanpur                 609
Nashik                 547
Faridabad              461
Saanvi                   2
Bhavna                   2
City                     2
Harsha                   2
Kibara                   1
Nandini                  1
Nalini                   1
Mihir                    1
Nalyan                   1
M.Com                    1
ME                       1
Rashi                    1
Gaurav                   1
Reyansh                  1
Harsh                    1
Vaanya                   1
Mira                     1
Less than 5 Kalyan       1
3.0                      1
Less Delhi               1
M.Tech                   1
Khaziabad                1
Name: count, dtype: int64

In [9]:

invalid_values = ['3.0']
org_student_data = org_student_data[~org_student_data['City'].isin(invalid_values)]

In [10]:
org_student_data['Academic Pressure'].value_counts()

Academic Pressure
3.0    7461
5.0    6296
4.0    5155
1.0    4801
2.0    4178
Name: count, dtype: int64

In [11]:
org_student_data['Study Satisfaction'].value_counts()

Study Satisfaction
4.0    6358
2.0    5838
3.0    5821
1.0    5451
5.0    4422
Name: count, dtype: int64

In [12]:
org_student_data['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    8310
7-8 hours            7345
5-6 hours            6183
More than 8 hours    6044
6-7 hours               4
10-11 hours             2
2-3 hours               2
3-4 hours               2
1-2 hours               1
40-45 hours             1
Moderate                1
55-66 hours             1
4-5 hours               1
8 hours                 1
45                      1
than 5 hours            1
Name: count, dtype: int64

In [15]:
org_student_data.loc[org_student_data['Sleep Duration'] == '10-11 hours','Sleep Duration'] = 'More than 8 hours'
org_student_data.loc[org_student_data['Sleep Duration'] == '2-3 hours','Sleep Duration'] = 'Less than 5 hours'
org_student_data.loc[org_student_data['Sleep Duration'] == '3-4 hours','Sleep Duration'] = 'Less than 5 hours'
org_student_data.loc[org_student_data['Sleep Duration'] == '1-2 hours','Sleep Duration'] = 'Less than 5 hours'
org_student_data.loc[org_student_data['Sleep Duration'] == '4-5 hours','Sleep Duration'] = 'Less than 5 hours'

org_student_data.loc[org_student_data['Sleep Duration'] == 'Moderate','Sleep Duration'] = '7-8 hours'
org_student_data.loc[org_student_data['Sleep Duration'] == '8 hours','Sleep Duration'] = 'More than 8 hours'

org_student_data.loc[org_student_data['Sleep Duration'] == '6-7 hours','Sleep Duration'] = '5-6 hours'

invalid_values = ['40-45 hours','55-66 hours','than 5 hours','45']
org_student_data = org_student_data[~org_student_data['Sleep Duration'].isin(invalid_values)]

In [14]:
org_student_data['Sleep Duration'].value_counts()

Sleep Duration
Less than 5 hours    8316
7-8 hours            7346
5-6 hours            6183
More than 8 hours    6047
6-7 hours               4
Name: count, dtype: int64

In [ ]:
org_student_data['Dietary Habits'].value_counts()

In [16]:
org_student_data.loc[org_student_data['Dietary Habits'] == 'Less than Healthy','Dietary Habits'] = 'Unhealthy'
org_student_data.loc[org_student_data['Dietary Habits'] == 'No Healthy','Dietary Habits'] = 'Unhealthy'
org_student_data.loc[org_student_data['Dietary Habits'] == 'Less Healthy','Dietary Habits'] = 'Unhealthy'


invalid_values = ['3','Mihir','1.0','M.Tech','Male','Yes','2']
org_student_data = org_student_data[~org_student_data['Dietary Habits'].isin(invalid_values)]

In [ ]:
org_student_data['Dietary Habits'].value_counts()

In [18]:
pd.set_option('display.max_rows', 500)

In [ ]:
org_student_data['Degree'].value_counts()

In [20]:
invalid_values = ['B','24','7.06','M','20','0','8.56']
org_student_data = org_student_data[~org_student_data['Degree'].isin(invalid_values)]

In [ ]:
org_student_data['Degree'].value_counts()

In [ ]:
org_student_data['Have you ever had suicidal thoughts ?'].value_counts()

In [ ]:
org_student_data['Work/Study Hours'].value_counts()

In [ ]:
org_student_data['Depression'].value_counts()

In [ ]:
org_student_data.columns.to_list()

In [ ]:
org_student_data.isnull().mean() * 100

In [27]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean')

In [28]:
temp = imputer.fit_transform(org_student_data[['Academic Pressure']])

In [ ]:
sum(pd.isnull(temp))

Look at IterativeImputer

In [36]:
def get_column_types(df):
    categorical_cols = []
    numeric_cols = []

    for col in df.columns:
        if df[col].dtype == object:
            categorical_cols.append(col)
        else:
            numeric_cols.append(col)

    return numeric_cols,categorical_cols

def fill_in_missing_values(df):

    numeric_cols,categorical_cols = get_column_types(df)

    imputer = SimpleImputer(missing_values=np.nan,strategy='median')

    for col in numeric_cols:
        if sum(pd.isnull(df[col])) > 0:
            df[col] = imputer.fit_transform(df[[col]])

def fill_in_missing_cat_values(df):
    
    numeric_cols,categorical_cols = get_column_types(df)


    for col in categorical_cols:
        df[col] = df[col].fillna(df[col].mode().iloc[0])

In [38]:
df = fill_in_missing_cat_values(org_student_data)

In [12]:
numeric_cols,categorical_cols = get_column_types(org_student_data)

In [ ]:
for col in categorical_cols:
    freq = org_student_data[col].value_counts(normalize= True)
    org_student_data[F"{col}_encoded"] = org_student_data[col].map(freq)

In [ ]:
org_student_data.head()

In [65]:
temp = fill_in_missing_values(org_student_data)

In [ ]:
temp[temp.isnull().any(axis=1)]

In [ ]:
temp